*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Ajustes de fondo*/
body{
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #23242a;
}
/*Caja central*/
.box{
    position: relative;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}
/* Primera linea de color */
.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #45f3ffb1, #45f3ffb1);
    transform-origin: bottom right;
    animation: animate 40s linear infinite;
}
/* Segunda linea de color */
.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #45f3ffb1, #45f3ffb1);/* 45f3ff */
    transform-origin: bottom right;
    animation: animate 40s linear infinite;
    animation-delay: -20s;
}
/* rotacion del cubo */
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


/* cabecera */
.game-table h2{
    color: #45f3ff;
    font-family: Verdana;
    font-weight: 500;
    text-align: center;
}

.game-title {
    color: #45f3ff;
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
    font-size: xx-large;
}

/* tablilla */
.game-table{
    position: absolute;
    inset: 2px;
    background: #28292d;
    border-radius: 8px;
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    padding: 12px;
}


.num {
    background-color: #246d74;
    border-radius: 4px;
    font-size: xx-large;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.links{
    display: flex;
    justify-content: space-between;
}

.links a{
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}
/* el 2 tramo hace q este siempre marcado el 2do a */
.links a:hover,
.links a:nth-child(2){
    color: #45f3ff;
}

.buttons {
    display: flex;
    justify-content: end;
}


input[type="button"]{
    border: none;
    outline: none;
    background: #45f3ffba;
    padding: 11px 25px;
    width: 100px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

/* opacidad al clikcar */
input[type="button"]:active{
    opacity: 0.8;
}


